<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
    <% include nav.ejs %>
    <h1>用户信息</h1>
    <ul>
        <% data.forEach(item=>{%>
            <li>name:<%=item.name%> age:<%=item.age%></li>
        <%}) %>
        
    </ul>
</body>
</html>